/*headerここから*/

header{
  display: flex;
  justify-content: space-between;
  color:black;
  font-size:1.5rem;
  width:100%;
  height:9.3vh;
}



.icon{
  display: flex;
  align-items: center;
  margin-left:5.5vh;

}



.header-right{
  display:flex;
  align-items: center;
  margin-right:1.5vw;
}

.header-right li{
  margin-right:1.25rem;
}

.menu-icon{
  display:none;
}

/*welcomここから*/

.welcome{
  background-image: url(../img/catan.png);
  background-size:cover;
  background-repeat: no-repeat;
  height: 110vh;
  color:black;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-attachment: fixed;
  margin-top:-9.3vh;

}



.title{
  font-family: 'Roboto Mono', monospace !important;
  font-size: 3rem;
 /* text-shadow: 0.1rem 0.2rem 0.2rem #2b2b2b;*/
  line-height:4rem; 
  letter-spacing: 0.1rem;
  font-weight:lighter;
  /*-webkit-text-stroke: 0.005rem black;*/
  /*color:transparent;*/
}



.guideline {
  font-family: 'Roboto Mono', monospace !important;
  font-size:1.875rem;
  margin-top:6.6vh;
  /*text-shadow: 0.0625rem 0.125rem 0.1875rem #2b2b2b;*/
  letter-spacing: 0.05rem;
  font-weight:lighter;
  /*-webkit-text-stroke: 0.001rem black;*/
}

/* 点滅 */
.blinking{
  font-weight: bold;
    animation:blink 0.5s ease-in-out infinite alternate;
}

@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}

.btn-group{
  margin-top:7.9vh;

}


.btn{
  height:7.3vh;
  width: 11vw;
  margin-left:4vh;
  color:black;
  font-size:1.75rem;
  border-radius: 0.625rem;
  cursor:pointer;
  transition:all 0.5s ease;
  background-color:rgba(255, 250, 250, .1);
  border:0.1875rem solid black;
  /*text-shadow:0.0625rem 0.125rem 0.1875rem #2b2b2b;*/
  font-weight:thin;
  -webkit-text-stroke: 0.005rem black;
}

.btn:first-child{
  margin:0rem;
}


.btn:hover{
  background-color: rgba(255, 188, 255, .7);
}


/*aboutここから*/

.about{
  padding:50px 0 80px 0;
  background-color: #fff;
}

.sub-title{
  font-size:26px;
  text-align: center;
  padding: 10px 0 40px 0;
}

.container{
  display:flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.container .left-contents{
  display:flex;
  flex-wrap: wrap;
  height:25rem;
  width:25rem;
  position:relative;
}


.container img{
  height:12.5rem;
  width:12.5rem;
  border-radius: 50%;
  cursor:pointer;
  cursor:pointer;
  transition:all 0.5s ease;
}



/*.container .photo1:hover{
  height:25rem;
  width:25rem;
  float:left;
  cursor:pointer;
  transition:all 0.5s ease;
  position: absolute;
  left:0px;
  border-radius: 25%;
}

.container .photo2:hover{
  height:25rem;
  width:25rem;
  float:left;
  cursor:pointer;
  transition:all 0.5s ease;
  position: absolute;
  left:0px;
  border-radius: 25%;

}

.container .photo3:hover{
  height:25rem;
  width:25rem;
  float:left;
  cursor:pointer;
  transition:all 0.5s ease;
  position: absolute;
  left:0px;
  border-radius: 25%;
}

.container .photo4:hover{
  height:25rem;
  width:25rem;
  float:left;
  cursor:pointer;
  transition:all 0.5s ease;
  position: absolute;
  top:0px;
  left:0px;
  border-radius: 25%;

}*/


/*モーダル*/
.modal-close{
  text-align: right;
  padding:10px;
  font-size: 30px;
  cursor: pointer;
}

.modal-wrapper{
  min-height: 400px;
}

.modal-content{
  display: none;
  position: relative;
  top:50%;
  left:50%;
  width:500px;
  height: 300px;
  margin-left: -250px;
  background-color: #fff;
  z-index: 2;
}

#modal-bg{
  display: none;
  width:100%;
  height: 100%;
  background-color: rgba(0,0,0,.7);
  position: fixed;
  top:0;
  left: 0;
  z-index: 1;
}


.right-contents{
  width:600px;
  margin-left: 100px;
  line-height: 1.5em;
}

.right-contents h3{
  color:#333230;
  padding: 30px 0 10px 0;
  font-size: 18px;
}

.right-contents h3:first-child{
  padding-top: 0px;
}

.plan{
  background-color: #fffaf0;
  width:100%;
  padding-bottom:50px;
}

/*planここから*/
.plan{
  background-image: url(../img/town.png);
  background-size:cover;
  background-repeat: no-repeat;
}

.plan h2{
  margin:0 auto;
  padding:50px;
  color:#333230;
}
.plan p{
  margin:5px 300px;
  padding:5px;
  line-height: 1.5em;
}


/*コンタクトここから*/

.contact{
  height:450px;
  background-color:#333230;
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-bottom: 20px;
}

.contact .form{
  margin:30px 0 40px 0;
  display:flex;
  justify-content: center;
}


.form .name,
.form .email{
  height:50px;
  width:27.77778vw;
  box-sizing:border-box;
  font-size:16px;
  margin-bottom:20px;
   background-color: #fff;
}

.form-left{
  margin-right:50px;
}

.form .inquiry{
  height:160px;
  width:400px;
  box-sizing: border-box;
  font-size:16px;
}


.contact button{
  background-color: #333230;
  color:#fff;
  border-radius: 10px;
  border:3px solid #fff;
  font-size:24px;
  box-sizing: border-box;
  padding:15px 30px;
  transition-duration: 500ms;
}

.contact button:hover{
  background-color: #fff;
  color: #800000;
  padding:15px 30px;
  transition-duration: 500ms;
}

/*フッターここから*/

footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#fff;
  font-size:20px;
  padding:5px;
  height: 70px;
  background-color:#333230;
  border-top:3px dashed rgba(255, 250, 250);

}


.hamburger {
  width: 30px;
  height: 20px;
  margin-left:50px;
  
}

.hamburger span {
  position: relative;
  display: block;
}

.hamburger span:after, 
.hamburger span:before {
  content: "";
  position: absolute;
}

.hamburger span:before {
  top: -9px;
}

.hamburger span:after {
  top: 9px;
}

.hamburger span, 
.hamburger span:before, 
.hamburger span:after {
  width: 100%;
  height: 5px;
  background-color: #ddd;
  border-radius: 2px;
}


.hamburger:hover span {
  background-color:transparent;
}

.hamburger:hover span:before {
  background-color:transparent;
}

.hamburger:hover span:after {
  background-color:transparent;
}

.hamburger .later{
  width:200px;
  margin:-10px 0 0 -30px;
  opacity: 0;
}

.hamburger:hover .later {
  opacity: 1;
}


footer .footer-right{
  margin-right: 50px;
}

/*トップに戻るボタンだよ*/

#scrollTop{
  color:gray;
  opacity: .5;
  bottom: 3rem;
  padding:4px;
  position: fixed;
  right:3rem;
}


.anime{
  text-align:center;
  position:relative;
  animation: fadeIn 4s ease;
}

@keyframes fadeIn{
  0%{
    opacity:0;
    top:0px;
  }
  100%{
    opacity: 1;
    top:0px;
  }
}



/*ここからレスポンシブル対応にします*/


/*タブレットに対応します*/

@media screen and (max-width:960px){

/*<!-- welcomeここから -->*/

  .btn{
  height:7.3vh;
  width: 30vw;
  margin-left:5vw;
}
  
/*castここから*/

.container{
  flex-direction:column;
}

/*.container .photo1:hover{
  height:25rem;
  width:25rem;
  float:left;
  cursor:pointer;
  transition:all 0.5s ease;
  position: absolute;
  left:0px;
  border-radius: 25%;
}

.container .photo2:hover{
  height:25rem;
  width:25rem;
  float:left;
  cursor:pointer;
  transition:all 0.5s ease;
  position: absolute;
  left:0px;
  border-radius: 25%;

}

.container .photo3:hover{
  height:25rem;
  width:25rem;
  float:left;
  cursor:pointer;
  transition:all 0.5s ease;
  position: absolute;
  left:0px;
  border-radius: 25%;
}

.container .photo4:hover{
  height:25rem;
  width:25rem;
  float:left;
  cursor:pointer;
  transition:all 0.5s ease;
  position: absolute;
  top:0px;
  left:0px;
  border-radius: 25%;

}*/

.right-contents{
  margin-top: 100px;
  margin-left: 0px;
}

.plan p{
  margin:5px 100px;
}

/*タブレット・コンタクトここから*/

.contact{
  height:600px;
}

.contact .form{
  margin:30px 0 40px 0;
  display:flex;
  flex-direction: column;
}


.form .name,
.form .email{
  height:50px;
  width:60%;
  box-sizing:border-box;
  font-size:16px;
  margin-bottom:20px;
}

.form-left{
  margin-right:0px;
}

.form .inquiry{
  margin-top: 20px;
  width:60%;
}


}


/*スマホ対応ここから*/

@media screen and (max-width:480px){
  body{
    min-width: 375px;

  }

/*ヘッダーここから*/

.icon{
  margin-left:2.5vw;
  margin-top:0vh;
}

.header-right {
    display: none;
  }
  
  .menu-icon {
    display: block;
    color:white;
    margin:20px;
    font-size:30px;
    text-align: right;
  }

  /*.menu-icon:hover{
    display: block;
    color:white;
    margin:20px;
    font-size:30px;
    opacity: 0
  }

  .menu .voice{
    opacity:0;
  }

.menu:hover .voice{
    opacity:1;
    margin-top: -40px;

  }*/


/*welcomeここから*/

.welcome{
  background-image: url(../img/port_sp.png);
}

.title{
  font-size: 3rem;
  margin: 0 6vw;
  margin-top:100px;
}

.guideline {
  font-size:1.3rem;
  margin-left:6vw;
  font-weight: normal;
  text-shadow: 0.0625rem 0.125rem 0.1875rem #2b2b2b;
}

.btn-group{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

}

.btn{
  height:7.3vh;
  width: 40vw;
  margin-left:0vw;
}

.btn-group .yes{
  margin-bottom: 30px
}

/*キャストここから**/

.container .left-contents{
  height:20rem;
  width:20rem;
}


.container img{
  height:10rem;
  width:10rem;
}



.right-contents{
  width:90%;
  margin-top: 50px;
}


.plan .sub-title{
  padding:20px;
}

.plan p{
  margin:5px 30px;
  padding:5px;
  line-height: 1.5em;
}

/*ここからコンタクトよん*/

.contact .sub-title{
  padding-bottom: 10px
}


.form .name,
.form .email{
  width:80%;
  margin-bottom:40px;
}


.form .inquiry{
  margin-top: 30px;
  width:80%;
}

/*ここからフッターだよ*/

footer .hamburger{
  display:none;
}

footer .footer-right{
  margin:auto;

}

}



















